* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 10px;
    background: #efeeef;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav ul img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.nav-link {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}

header {
    background-color: yellow;
    color: black;
}

header div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

#home article img {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1,
h3,
h4 {
    font-weight: 700;
}

h3 {
    font-weight: 500;
}

#home h1 {
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 4em;
}

p {
    font-size: 1.8em;
}

footer div {
    font-size: 1.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

footer div ul li:hover {
    color: cadetblue;
}


/* Dry-Don't Repeat yourself*/
/*
logo img
nav-link text
smaller header text
larger text in header (h1)
heading (h2)
h4 tag
regular text
*/